@model IEnumerable< BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<ul class="Course">
    @foreach(var co in Model)
            {
                <li>
                    <div class="Date">
                        <div class="Month">
                            @co.DateTime.ToString("M");
                        </div>
                        <div class="Day">
                            @co.DateTime.ToString("dd");
                        </div>
                    </div>
                    <div class="Info">
                        <span class="Leture">
                            @co.Lecturer.Name;
                        </span>
                        <div class="Category">
                            @co.Category.Name;
                        </div>
                    </div>
                </li>
            }
</ul>